.container {
  background-color: #160150;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.2s ease-out;
  width: 300px;
  align-items: center;
  margin: 1em;
  padding: 1em;
  border: solid 1px #000;
  font-family: cursive;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardImage {
  height: 100px;
  max-width: 200px;
  width: 200px;
  object-fit: cover;
  width: 100%;
  border-radius: 10%;
}

.h3 {
  color: rgb(0, 238, 255);
  text-transform: uppercase;
  text-decoration: double;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

p {
  text-align: center;
  text-transform: uppercase;
}
