.container {
  background-color: rgba(245, 245, 245, 0.555);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: transform 0.2s ease-out;
  width: 500px;
  align-items: center;
  margin: 1em;
  padding: 1em;
  border: solid 1px #ccc;
  font-family: cursive;
}

.container:hover {
  transform: translateY(-4px);
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage {
  height: 100px;
  max-width: 200px;
  width: 200px;
  object-fit: cover;
  width: 100%;
  border-radius: 10%;
}

.h3 {
  color: #000000;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.7rem;
}

p {
  color: #353232;
  font-size: 1.7rem;
  text-align: center;
  text-transform: uppercase;
}
