.container {
  background-color: #160150;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: transform 0.2s ease-out;
  width: 300px;
  align-items: center;
  margin: 1em;
  padding: 1em;
  border: solid 1px #000;
  font-family: cursive;
}

.cardImage {
  height: 300px;
  object-fit: cover;
  width: 100%;
  border-radius: 10%;
}
