.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px;
  position: relative;
}

.navegation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #182c61;
}

.label {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.select {
  justify-content: center;
  text-align: center;
  font-size: 20px;
}
